<h1>Editing Book</h1>

<%= form_with model: @book, url: update_book_path(@book.id), method: :patch do |f| %>

  <h4>タイトル</h4>
  <%= f.text_field :title %>

  <h4>本文</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Update Book' %>

<% end %>
<p><span><%= link_to "Show", show_path(@book.id) %></span>|<span><%= link_to "Back", new_path %></span></p>
