<h1>ここは詳細画面</h1>

<p>Title</p>
<p><%= @book.title %></p>

<p>Body</p>
<p><%= @book.body %></p>

<%= link_to "編集", edit_book_path(@book.id) %>
<%= link_to "一覧&新規", new_path %>
<%= link_to "削除", destroy_book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>