<% if flash[:notice] %>
     <p id="notice">
       <%= flash[:notice] %>
     </p>
   <% end %>

<p>Title:<span><%= @book.title %></span></p>
<br>
<p>Body:<span><%= @book.body %></span></p>

<br>
<p>
  <span><%= link_to "Edit", edit_book_path(@book.id) %></span>|<span><%= link_to "Back", books_path %></span>
  
</p>


